<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Signs For Science</title>
  <link rel="stylesheet" href="assets/css/styles.css">
</head>

<nav class="grid-container nav">
  <a href="/"><img class="logo" src="../assets/img/logo.svg" alt="Signs for Science"></a>
  <ul>
    <li><a href="about">The full brief</a></li>
    <li><a href="create" class="btn mini">Add your sign</a></li>
  </ul>
  <div style="clear: both;"></div>
</nav>
<body>