/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Dosis:700,800i|Open+Sans:400i,700");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* * * Variables * * */
/* * * Grid * * */
.grid-container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 7%;
  box-sizing: border-box; }
  @media (min-width: 600px) {
    .grid-container {
      padding: 0 10%; } }

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both; }

[class*='col-'] {
  min-height: 1px; }
  @media (min-width: 600px) {
    [class*='col-'] {
      padding: 0 20px; } }

.col-1 {
  width: 8.333333%; }

.col-2 {
  width: 16.666666%; }

.col-3 {
  width: 24.999999%; }

.col-4 {
  width: 33.333332%; }

.col-5 {
  width: 41.666665%; }

.col-6 {
  width: 49.999998%; }

.col-7 {
  width: 58.333331%; }

.col-8 {
  width: 100%; }
  @media (min-width: 600px) {
    .col-8 {
      width: 66.666664%; } }

.col-9 {
  width: 74.999997%; }

.col-10 {
  width: 83.333333%; }

.col-11 {
  width: 91.666663%; }

.col-12 {
  width: 100%; }

.col-offset-1 {
  margin-left: 8.333333%; }

.col-offset-2 {
  margin-left: 16.666666%; }

.col-offset-3 {
  margin-left: 24.999999%; }

.col-offset-4 {
  margin-left: 33.333332%; }

.col-offset-5 {
  margin-left: 41.666665%; }

.col-offset-6 {
  margin-left: 49.999998%; }

.col-offset-7 {
  margin-left: 58.333331%; }

.col-offset-8 {
  margin-left: 100%; }

.col-offset-9 {
  margin-left: 74.999997%; }

.col-offset-10 {
  margin-left: 83.333333%; }

.col-offset-11 {
  margin-left: 91.666663%; }

/* * * Global * * */
body {
  background: #0af5df;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.lrg {
  display: none; }
  @media (min-width: 600px) {
    .lrg {
      display: inline-block; } }

.sml {
  display: inline-block; }
  @media (min-width: 600px) {
    .sml {
      display: none; } }

.nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
  @media (min-width: 600px) {
    .nav {
      padding-top: 30px;
      border-bottom: 0; } }

.nav .logo {
  text-align: center;
  margin-right: auto;
  width: 100%; }
  .nav .logo img {
    width: 200px; }
  @media (min-width: 600px) {
    .nav .logo {
      width: auto; } }

.nav ul {
  list-style-type: none;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #ff7b90;
  width: 100%;
  padding: 10px 0; }
  @media (min-width: 600px) {
    .nav ul {
      position: static;
      margin-left: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background: transparent;
      width: auto;
      padding: 0; } }

.nav li {
  display: inline-block;
  padding-left: 15px; }

.nav .btn {
  display: inline-block;
  text-align: center;
  border: 0;
  border-left: 3px solid black;
  padding: 0; }
  @media (min-width: 600px) {
    .nav .btn {
      width: auto;
      border: 3px solid black; } }
  .nav .btn:after {
    border: 0; }
    @media (min-width: 600px) {
      .nav .btn:after {
        border: 3px solid black; } }

/* * * Typography * * */
h1, h1:after {
  position: relative;
  width: 100%;
  font-family: 'Dosis', sans-serif;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .3em;
  line-height: 1.4em;
  color: white;
  text-shadow: black 2px 0px 0px, black 1.75517px 0.95885px 0px, black 1.0806px 1.68294px 0px, black 0.14147px 1.99499px 0px, black -0.83229px 1.81859px 0px, black -1.60229px 1.19694px 0px, black -1.97998px 0.28224px 0px, black -1.87291px -0.70157px 0px, black -1.30729px -1.5136px 0px, black -0.42159px -1.95506px 0px, black 0.56732px -1.91785px 0px, black 1.41734px -1.41108px 0px, black 1.92034px -0.55883px 0px; }
  @media (min-width: 600px) {
    h1, h1:after {
      font-size: 75px;
      line-height: 1.3em;
      text-shadow: black 3px 0px 0px, black 2.83487px 0.98158px 0px, black 2.35766px 1.85511px 0px, black 1.62091px 2.52441px 0px, black 0.70571px 2.91581px 0px, black -0.28717px 2.98622px 0px, black -1.24844px 2.72789px 0px, black -2.07227px 2.16926px 0px, black -2.66798px 1.37182px 0px, black -2.96998px 0.42336px 0px, black -2.94502px -0.5717px 0px, black -2.59586px -1.50383px 0px, black -1.96093px -2.27041px 0px, black -1.11013px -2.78704px 0px, black -0.13712px -2.99686px 0px, black 0.85099px -2.87677px 0px, black 1.74541px -2.43999px 0px, black 2.44769px -1.73459px 0px, black 2.88051px -0.83825px 0px; } }

h1:after {
  content: attr(data-content);
  position: absolute;
  top: 3px;
  left: 0;
  z-index: -1;
  color: #0af5df; }
  @media (min-width: 600px) {
    h1:after {
      top: 5px; } }

h3, .all-caps {
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
  letter-spacing: .25em;
  line-height: 1.2em;
  color: black;
  text-decoration: none;
  font-size: 12px;
  font-weight: 300; }

h3 {
  margin: 0 0 15px;
  line-height: 2em; }
  @media (min-width: 600px) {
    h3 {
      margin: 0 0 25px; } }

p {
  max-width: 650px;
  margin-bottom: 25px;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 2em;
  text-align: left; }

p a {
  color: black;
  background: url(../img/underline.svg) -20px 18px no-repeat;
  background-size: 491px;
  display: inline-block;
  text-decoration: none; }

p a:hover {
  background-image: url(../img/underline-broo.svg);
  color: #4d43ff; }

a.all-caps:hover {
  color: #4d43ff; }

.body-copy.mini {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 11px;
  line-height: 2em; }

/* * * Elements * * */
.btn {
  background: #ff7b90;
  border: 3px solid black;
  padding: 15px 20px;
  position: relative;
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
  letter-spacing: .25em;
  line-height: 1.2em;
  color: black;
  text-decoration: none;
  font-size: 12px;
  font-weight: 300; }
  .btn:hover {
    background: #4d43ff;
    color: #fff; }
  .btn:after, .btn.secondary:after, .btn.square:after {
    content: '';
    position: absolute;
    top: 2px;
    left: -3px;
    border: 3px solid black;
    border-top: 3px solid transparent;
    width: 100%;
    height: 100%;
    z-index: 0; }
  .btn.mini {
    padding: 12px 15px; }
  .btn.square {
    width: 50px;
    padding: 12px 5px;
    display: block; }
  .btn.secondary {
    background: white; }

.divider {
  width: 30px;
  margin-bottom: 15px; }
  @media (min-width: 600px) {
    .divider {
      margin-bottom: 20px; } }

.icon-link {
  background: url(../img/icon-link.svg) no-repeat;
  width: 13px;
  height: 13px;
  display: inline-block;
  position: relative;
  top: 2px;
  margin-left: 3px; }

.icon-link:hover {
  background-image: url(../img/icon-link-hover.svg); }

/* * * Homepage * * */
.hero {
  margin: 40px 0 0;
  text-align: center; }
  @media (min-width: 600px) {
    .hero {
      margin: 80px 0 0; } }

.hero h1 {
  margin-bottom: 25px; }
  @media (min-width: 600px) {
    .hero h1 {
      margin-bottom: 55px; } }

.intro-copy {
  text-align: center; }

.intro-copy p {
  margin-left: auto;
  margin-right: auto; }

.intro-copy .all-caps {
  display: inline-block; }

.intro-copy .btn {
  margin-right: 20px;
  display: inline-block; }

/* * * Gallery * * */
.gallery {
  background: #ffb72d;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.filter {
  background: #0af5df;
  height: 100vh;
  padding: 20px 0 0;
  text-align: center; }

.filter .divider {
  margin-bottom: 10px; }

.filter .body-copy {
  margin-bottom: 12px; }

.filter .btn {
  margin: 0 auto; }

.sign-container {
  padding: 100px 0; }

.sign-image {
  background: #f0f0f0;
  width: 236px;
  height: 300px;
  border: 8px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.sign-creds {
  background: url(../img/divider-vertical.svg) 0 7px no-repeat;
  background-size: 8px 30px;
  height: 80px;
  margin-top: 15px;
  padding-left: 15px;
  text-align: left; }

.sign-buttons {
  display: block; }
