<% include ../partials/head %>
<body class="about">

<div class="grid-container about-hero">
  <div class="col-8">
    <h1 data-content="Science needs you">Science needs you</h1>
  </div>
</div>
<div class="about-brief grid-container">
  <div class="col-8">
    <div class="about-topic">
      <img src="../assets/img/divider.svg" alt="----" class="divider" />
      <h3>Calling all designers, writers, and creative types</h3>
      <p class="body-copy">The scientific community and environmental movements are under attack. So they’re mobilizing, at the <a href="marchforscience.com" target="_blank">March for Science</a> April 22 and the <a href="https://peoplesclimate.org" target="_blank">People’s Climate March</a> on April 29th. But they’re way too busy actually sciencing the <i class="em em-poop"></i> out of everything and fighting for the planet to spend all of their time making signs for the marches.</p>

      <p class="body-copy">Want to do something good with your talents? It’s high time for us in the advertising/marketing/selling/creative industry to use our powers to make the world a little better. For real.</p>

      <p class="body-copy">SO LET’S MAKE SOME SIGNS FOR SCIENCE AND THE CLIMATE!</p>

      <p class="body-copy">Come on. You spend like 2 hours a day on Facebook at work anyway. Why not do this instead?</p>

      <a href="create" class="btn">Add your sign</a>
    </div>

    <div class="about-topic">
      <img src="../assets/img/divider.svg" alt="----" class="divider" />
      <h3>What we need</h3>
      <p class="body-copy">Sign ideas that come in the form of any of the following:</p>
      <ul class="body-copy">
        <li>Clever headlines</li>
        <li>Creative sign concepts</li>
        <li>Rough sketches</li>
        <li>Illustrations</li>
        <li>Fully fleshed out designs</li>
      </ul>
    </div>

    <div class="about-topic">
      <img src="../assets/img/divider.svg" alt="----" class="divider" />
      <h3>Creative considerations</h3>
      <ul class="body-copy creative-considerations">
        <li><span class="all-caps">KEEP IT POSITIVE.</span> Think of these marches less as protests, and more as celebrations, of all the reasons why science and the environment are things to love and protect.</li>
        <li><span class="all-caps">Make them funny.</span> Clever headlines and signs get noticed. Because let’s face it, pictures of the earth and hearts and hugs are boring.</li>
        <li><span class="all-caps">Invite reinterpretation.</span> Even it’s just a headline or a sketch, your sign could get shared around and reimagined into all different shapes and sizes.</li>
        <li><span class="all-caps">Talk about what science means for the world.</span> The fact that we know dinosaurs were a thing? Science. The fact that you didn’t die of smallpox or something as a child? Science. Those trying to stifle science are on the wrong side of history. Let’s show them why.</li>
        <li><span class="all-caps">Show that scientists come in all flavors.</span> It’s not just a bunch of cranky old white men in lab coats mixing stuff in beakers. It’s female physicists, Muslim meteorologists, black biologists, Asian astronomers, and everyone in-between.</li>
        <li><span class="all-caps">Talk about renewable energy and how amazing it is.</span> Solar and wind are now <a href="http://www.independent.co.uk/environment/solar-and-wind-power-cheaper-than-fossil-fuels-for-the-first-time-a7509251.html" target="_blank">cheaper than fossil fuels</a> and will do amazing things for our economy. Let’s spread the word!</li>
        <li><span class="all-caps">No anti-Trump stuff.</span> It’s a cheap shot and fun to come up with witty things to say about tiny hands and orange faces, but these marches are not the places for it.</li>
        <li><span class="all-caps">Don’t be partisan.</span> Let’s not alienate sensible conservatives who believe in science. This is for all of us — democrats, republicans, tea partiers, pirate partiers, etc. etc.</li>
        <li><span class="all-caps">No making fun of people.</span> Slow your roll on that snark and the negativity. Science benefits even the skeptics. Everyone is affected by climate change. Let’s be inclusive.</li>
        <li><span class="all-caps">No doom and gloom.</span> Yes, it’s frightening that the earth is warming and we have an EPA-killer at the <a href="https://www.nytimes.com/2017/03/07/us/politics/scott-pruitt-environmental-protection-agency.html?_r=0" target="_blank">head of the EPA</a>. But too much negativity makes people tune out.</li>
        <li><span class="all-caps">Try to avoid polar bears, globes in hands, and other clichés.</span>  We’re badass creatives. We can do better than that.</li>
        <li><span class="all-caps">But also don't obsess over tiny details.</span> Think about that “MAKE AMERICA GREAT AGAIN” hat. <a href="https://www.fastcodesign.com/3066599/the-worst-design-of-2016-was-also-the-most-effective" target="_blank">And look where that got him.</a> We’re not trying to look corporate, and we’re short on time. Standout ideas are more important than pixel perfect designs.</li>
        <li><span class="all-caps">need more inspiration?</span> Look through our <a href="/#gallery">gallery</a>.</li>
      </ul>
      <a href="create" class="btn">Add your sign</a>
    </div>

    <div class="about-topic">
      <img src="../assets/img/divider.svg" alt="----" class="divider" />
      <h3>Further reading and inspiration</h3>
      <ul class="body-copy">
        <li>Margaret Atwood: <a href="https://medium.com/matter/it-s-not-climate-change-it-s-everything-change-8fd9aa671804" target="_blank">It’s Not Climate Change — It’s Everything Change</a></li>
        <li>Bill McKibben: <a href="https://newrepublic.com/article/135684/declare-war-climate-change-mobilize-wwii" target="_blank">We Need to Literally Declare War on Climate Change</a></li>
        <li><a href="https://www.climaterealityproject.org/blog/climate-change-explained-10-cartoons" target="_blank">Climate Change Explained in 10 Cartoons</a></li>
        <li><a href="https://xkcd.com/1732/" target="_blank">xkcd: A Timeline of Earth’s Average Temperature</a></li>
        <li><a href="http://www.huffingtonpost.com/entry/89-badass-feminist-signs-from-the-womens-march-on-washington_us_5883ea28e4b070d8cad310cd" target="_blank">89 Badass Feminist Signs From The Women’s March On Washington</a></li>
      </ul>

      <p class="all-caps">AND WHILE YOU’RE AT IT, JOIN THE MARCHES</p>
      <ul class="body-copy">
        <li><a href="marchforscience.com" target="_blank">March for Science website</a></li>
        <li><a href="https://peoplesclimate.org" target="_blank">People's Climate March website</a></li>
      </ul>
    </div>

    <div class="about-topic">
      <img src="../assets/img/divider.svg" alt="----" class="divider" />
      <h3>Contact Us</h3>
      <p class="body-copy">We’re just a group of creatives who are inspired and jazzed up by all of the amazing activism and marching, and general giving a <i class="em em-poop"></i> that’s happening over the place lately. We put this together in our free time, with our own money, not looking for any money or glory in return—just looking to do something positive with our skillz.</p>

      <p class="body-copy">Want to get in touch to say hi, point out any copyright violations, troll us, or anything else? <a href="mailto:signsforscience@gmail.com">Email us.</a></p>
    </div>
  </div>
  <div class="col-3 col-offset-1 about-sidebar">
    <h3>tl;dr</h3>
    <p class="body-copy">Create sign ideas for people going to the <a href="marchforscience.com" target="_blank">March for Science</a> April 22, and the <a href="https://peoplesclimate.org" target="_blank">People’s Climate March</a> on April 29th, and add them to this here site!</p>
    <p class="body-copy">We need headlines, rough sketches, illustrations, or full designs for people to use and print. Keep them provocative, inclusive, and positive—but no anti-Trump stuff, negativity, or partisanship.</p>
  </div>
</div>
</div>
</div>

<% include ../partials/footer %>