<% include ../partials/head %>

<h1>Create</h1>

<form action="/signs" method="POST">
  <input type="text" placeholder="name" name="name" />
  <input type="text" placeholder="url" name="url" />
  <input type="text" placeholder="sign" name="sign" />
  <input type="text" placeholder="tagline" name="tagline" />
  <button type="submit">Submit</button>
</form>

<% include ../partials/footer %>