<% include ../partials/head %>

<h1>Signs for science</h1>

<ul>
  <% signs.forEach(function(sign) { %>
    <li><%= sign.name %> - <%= sign.url %> - <%= sign.sign %></li>
  <% }); %>
</ul>

<% include ../partials/footer %>