<% include ../partials/head %>

<div class="grid-container">
  <div class="hero row">
    <h1 data-content="Make something that matters">Make something that matters</h1>
  </div>
</div>

<ul>
  <% signs.forEach(function(sign) { %>
    <li><%= sign.name %> - <%= sign.url %> - <%= sign.sign %></li>
  <% }); %>
</ul>

<% include ../partials/footer %>