@import "reset";

@import url('https://fonts.googleapis.com/css?family=Dosis:600,700,800i|Open+Sans:400i,700|Permanent+Marker');

/* * * Variables * * */
$turquoise: #0af5df;
$pink: #ff7b90;
$broo: #4d43ff;
$orange: #ffb72d;
$light-gray: #f0f0f0;
$charcoal: #181818;
$neon-pink: #f24561;

$emb-circle-size: 22px;
$emb-squiggles-size: 161px;
$emb-squiggles-vt-size: 64px;

/* * * Grid * * */
@mixin breakpoint($point) {
   @if $point == sml {
     @media (min-width: 350px) { @content ; }
  }
  @else if $point == med {
     @media (min-width: 600px) { @content ; }
  }
  @else if $point == lrg {
     @media (min-width: 900px) { @content ; }
  }
  @else if $point == giant {
     @media (min-width: 1400px) { @content ; }
  }
}

.grid-container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 7%;
  box-sizing: border-box;

  @include breakpoint(med) {
    padding: 0 10%;
  }
}

.row:before,
.row:after {
  content:"";
  display: table;
  clear:both;
}

[class*='col-'] {
  min-height: 1px;
  box-sizing: border-box;
  float: left;

  @include breakpoint(med) {
    padding: 0 10px;
  }
}

.col-1{width: 8.333333%;}
.col-2{width: 16.666666%;}
.col-3{width: 24.999999%;}
.col-4{width: 33.333332%;}
.col-5{width: 41.666665%;}
.col-6{width: 49.999998%;}
.col-7{width: 58.333331%;}
.col-8 {
  width: 100%;

  @include breakpoint(med) {
    width: 66.666664%;
  }
}
.col-9{width: 74.999997%;}
.col-10{width: 83.333333%;}
.col-11{width: 91.666663%;}
.col-12{width: 100%;}

.col-offset-1{margin-left: calc(8.333333% - 3px);}
.col-offset-2{margin-left: 16.666666%;}
.col-offset-3{margin-left: 24.999999%;}
.col-offset-4{margin-left: 33.333332%;}
.col-offset-5{margin-left: 41.666665%;}
.col-offset-6{margin-left: 49.999998%;}
.col-offset-7{margin-left: 58.333331%;}
.col-offset-8{margin-left: 100%;}
.col-offset-9{margin-left: 74.999997%;}
.col-offset-10{margin-left: 83.333333%;}
.col-offset-11{margin-left: 91.666663%;}

/* * * Global * * */
html {
  min-height: 100%;
  position: relative;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  height: 100%;
}

.lrg {
  display: none;

  @include breakpoint(med) {
    display: inline-block;
  }
}

.sml {
  display: inline-block;

  @include breakpoint(med) {
    display: none;
  }
}

.nav {
  // padding: 15px 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255,255,255,.5);

  @include breakpoint(med) {
    padding-top: 25px;
    border-bottom: 0;
  }
}

.nav .logo {
  text-align: center;
  margin-right: auto;
  width: 100%;

  img {
    width: 200px;
  }

  @include breakpoint(med) {
    width: auto;
  }
}

.nav ul {
  list-style-type: none;
  position: fixed;
  bottom: 0;
  left: 0;
  background: $pink;
  width: 100%;
  padding: 10px 0;

  @include breakpoint(med) {
    position: static;
    margin-left: auto;
    display: flex;
    align-items: center;
    background: transparent;
    width: auto;
    padding: 0;
  }
}

.nav li {
  display: inline-block;
  padding-left: 25px;
}

.nav .btn {
  display: inline-block;
  text-align: center;
  border: 0;
  border-left: 3px solid $charcoal;
  padding: 0;

  @include breakpoint(med) {
    width: auto;
    border: 3px solid $charcoal;
  }

  &:after {
    border: 0;

    @include breakpoint(med) {
      border: 3px solid $charcoal;
    }
  }
}

.hero {
  position: relative;
  padding-top: 40px;
  text-align: center;

  @include breakpoint(med) {
    padding-top: 60px;
  }
}

.hero h1 {
  margin-bottom: 25px;

  @include breakpoint(med) {
    margin-bottom: 35px;
  }
}


/* * * Typography * * */
h1, h1:after {
  position: relative;
  width: 100%;
  font-family: 'Dosis', sans-serif;
  font-weight: 800;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .3em;
  line-height: 1.4em;
  color: white;
  text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;

  @include breakpoint(med) {
    font-size: 75px;
    line-height: 1.3em;
    text-shadow: rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px, rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px, rgb(0, 0, 0) 0.705713px 2.91581px 0px, rgb(0, 0, 0) -0.287171px 2.98622px 0px, rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px, rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px, rgb(0, 0, 0) -2.94502px -0.571704px 0px, rgb(0, 0, 0) -2.59586px -1.50383px 0px, rgb(0, 0, 0) -1.96093px -2.27041px 0px, rgb(0, 0, 0) -1.11013px -2.78704px 0px, rgb(0, 0, 0) -0.137119px -2.99686px 0px, rgb(0, 0, 0) 0.850987px -2.87677px 0px, rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px, rgb(0, 0, 0) 2.88051px -0.838247px 0px;
  }
}

h1:after {
  content: attr(data-content);
  position: absolute;
  top: 3px;
  left: 0;
  z-index: -1;
  color: $turquoise;

  @include breakpoint(med) {
    top: 5px;
  }
}

h2, h2:after {
  position: relative;
  width: 100%;
  font-family: 'Dosis', sans-serif;
  font-size: 45px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: .3em;
  line-height: 1.4em;
  color: white;
  z-index: 0;
  text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;

  @include breakpoint(med) {
    font-size: 45px;
    line-height: 1.3em;
  }
}

h2:after {
  content: attr(data-content);
  position: absolute;
  top: 3px;
  left: 0;
  z-index: -1;
  color: $turquoise;

  @include breakpoint(med) {
    top: 4px;
  }
}

h3 {
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
  letter-spacing: .25em;
  line-height: 1.5em;
  color: $charcoal;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
}

h4, .all-caps {
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
  letter-spacing: .25em;
  line-height: 1.2em;
  color: $charcoal;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
}

h4 {
  margin: 0 0 15px;
  line-height: 2em;
}

.body-copy {
  max-width: 650px;
  margin-bottom: 15px;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 2em;
  color: $charcoal;

  &.mini {
    font-size: 12px;
  }
}

.body-copy a {
  background: url(../img/underline.svg) -50px 20px no-repeat;
  background-size: 530px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  color: $charcoal;
  transition: background .2s, color .2s;

  &:hover {
    background-image: url(../img/underline-broo.svg);
    color: $broo;
  }
}

.body-copy.mini a {
  background-position: -50px 14px;
  padding-bottom: 6px;
}

a.all-caps {
  height: 25px;
  margin-top: 10px;
  background: url(../img/underline.svg) -50px 10px no-repeat;
  background-size: 530px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  color: $charcoal;
  transition: background .2s, color .2s;

  &:hover {
    background-image: url(../img/underline-broo.svg);
    color: $broo;
  }
}

/* * * Elements * * */
.btn {
  background: $pink;
  border: 3px solid $charcoal;
  padding: 15px 20px;
  position: relative;
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
  letter-spacing: .25em;
  line-height: 1.2em;
  color: $charcoal;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  transition: background .4s, color .2s;

  &:hover, &.secondary:hover {
    background: $broo;
    color: #fff;
  }

  &:after, &.mini:after {
  content: '';
  position: absolute;
  top: 2px;
  left: -3px;
  border: 3px solid $charcoal;
  border-top: 3px solid transparent;
  width: 100%;
  height: 100%;
  z-index: 0;
  }

  &.mini {
    padding: 12px 15px;
  }

  &.square {
    width: 50px;
    padding: 12px 9px;
    display: block;
  }

  &.secondary {
    background: white;
  }
}

.divider {
  display: block;
  width: 30px;
  margin-bottom: 15px;

  @include breakpoint(med) {
    margin-bottom: 20px;
  }

  &.center {
    margin-left: auto;
    margin-right: auto;
  }
}

.body-copy a.icon-link {
  background: url(../img/icon-link.svg) 0 0 no-repeat;
  background-size: 13px;
  width: 13px;
  height: 13px;
  display: inline-block;
  position: relative;
  top: 8px;
  margin-left: 3px;

  &:hover {
    background-image: url(../img/icon-link-hover.svg);
  }
}

.body-copy li {
  list-style-image: url('../img/bullet.svg');
  margin-bottom: 5px;
}

.emb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-repeat: no-repeat;
  z-index: 0;

  &.overall {
    bottom: 0;
    right: 0;
    z-index: -1;
  }
}

textarea {
  border: 3px solid $charcoal;
  padding: 15px 20px;
  box-sizing: border-box;
}

/* * * Homepage * * */
.homepage {
  background: $turquoise;
}

.intro-copy {
  text-align: center;
}

.intro-copy p {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  float: none;
  text-align: left;
}

.intro-copy .all-caps {
  display: inline-block;
}

.intro-copy .btn {
  margin-right: 25px;
  display: inline-block;
}

.hero .emb {
  background-image: url('../img/emb_circle.svg'), url('../img/emb_circle.svg'), url('../img/emb_circle.svg'), url('../img/emb_squiggles.svg'), url('../img/emb_squiggles.svg');
  background-size: $emb-circle-size, $emb-circle-size, $emb-circle-size, $emb-squiggles-size, $emb-squiggles-size;
  background-repeat: no-repeat;
  background-position: 31vw 20px, 3vw 350px, 89vw 65vh, -60px 40px, 91vw 330px;
  z-index: -1;
}

/* * * Gallery * * */
.gallery {
  background: $orange;
  margin-top: 80px;
  position: relative;

  &:before {
    content:'';
    background: url(../img/scroll-arrow.svg) no-repeat;
    width: 18px;
    height: 100px;
    display: inline-block;
    position: absolute;
    top: -29px;
    left: calc(50% - 9px);
    margin: 0 auto;
  }
}

.filter {
  background: $turquoise;
  height: 100vh;
  min-width: 110px;
  width: 8.33333%;
  padding: 20px 1% 0;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  text-align: center;

  &.sticky {
    position: fixed;
  }
}

.filter .divider {
  margin: 0 auto 10px;
}

.filter .body-copy {
  margin-bottom: 12px;
}

.filter .btn {
  margin: 0 auto;
}

.sign-container {
  padding: 7vw 0 3vw 2vw;

  @include breakpoint(lrg) {
    padding: 7vw 0 3vw;
  }
}

.sign-item {
  display: inline-block;
  margin-bottom: 8%;
}

.sign-image {
  position: relative;
  padding: 63% 0;
  border: 8px solid white;
  background: $light-gray;
}

.image-file {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  transform: translate(0, -50%);
  top: 50%;
}

.sign-slogan-container {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $light-gray;
  padding: 0 10%;

  &.broo {
    background: $broo;
  }

  &.turquoise {
    background: $turquoise;
  }

  &.neon-pink {
    background: $neon-pink;
  }

  &.charcoal {
    background: $charcoal;
  }
}

.sign-slogan {
  font-family: 'Permanent Marker', 'Dosis', sans-serif;
  font-size: 22px;
  line-height: 1.3em;
  letter-spacing: 0.015em;
  text-transform: all-caps;
  text-align: center;
  color: $charcoal;
}

.sign-creds {
  background: url(../img/divider-vertical.svg) 0 7px no-repeat;
  background-size: 8px 30px;
  height: 60px;
  margin-top: 15px;
  padding: 2px 0 0 18px;
  text-align: left;

  .body-copy {
    line-height: 1.8em;
  }
}

.sign-buttons {
  display: block;
  position: relative;
}

.sign-buttons .btn {
  width: calc(50% - 45px);
  display: inline-block;
  text-align: center;
}

.sign-buttons .get-url {
  margin-left: -7px;
}

.sign-buttons .copy-url {
  background: $turquoise;
  position: absolute;
  top: 35px;
  width: calc(100% - 1px);
  border-top: 0;
  box-sizing: border-box;
  text-align: left;
  opacity: 0;
  cursor: text;
  pointer-events: none;
  transition: top .1s ease-out;

  &:hover {
    background: $turquoise;
    color: $charcoal;
  }

  &.visible {
    opacity: 1;
    top: 50px;
    pointer-events: auto;
  }
}

.sign-buttons span {
  max-width: 650px;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 12px;
  text-transform: none;
  letter-spacing: 0;
  color: $charcoal;
}

.sign-cta {
  background: $turquoise;
  position: relative;
  margin-right: 0;
  padding: 90px 0 90px 110px;
  text-align: center;
}

.sign-cta h2 {
  margin-bottom: 20px;
}

.sign-cta p {
  text-align: center;
  margin: 0 auto 28px;
}

.sign-cta .btn {
  display: inline-block;
  z-index: 1;
}

.sign-cta .emb {
  background-image: url('../img/emb_circle.svg'), url('../img/emb_squiggles.svg');
  background-size: $emb-circle-size, $emb-squiggles-size;
  background-position: 15vw 200px, 90vw 50px;
  z-index: 0;
}

/* * * About * * */
.about {
  background: $orange;
}

.about h1 {
  padding-top: 60px;
  margin-bottom: 35px;
  text-align: left;

  &:after {
    padding-top: 60px;
    text-align: left;
    color: $orange;
  }
}

.about-brief {
  display: flex;
  text-align: left;
}

.about .btn {
  display: inline-block;
}

.about .em-poop {
  margin-top: -11px;
}

.about-topic {
  margin-bottom: 80px;
}

.about-topic ul {
  margin-bottom: 40px;
}

.creative-considerations li {
  margin-bottom: 25px;
}

.about-sidebar {
  padding-top: 25px;
  height: 100vh;
  position: relative;

  &:before {
    content: '';
    background: $pink;
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
    width: 35%;
    height: 100vh;
  }
}

.sign-example {
  position: relative;
}

.sign-example img {
  position: relative;
  border: 4px solid $charcoal;
  box-sizing: border-box;
}

.sign-example .sign-creds {
    margin-top: 15px;
}

.sign-example .emb {
    height: 300px;
}

.sign-example-1 {
  margin-top: 20vh;

  .emb {
    background-image: url('../img/emb_circle.svg'), url('../img/emb_squiggles.svg');
    background-size: $emb-circle-size, $emb-squiggles-size;
    background-position: 125px 50px, 125px 90px;
  }

  .sign-img-1 {
    top: 130px;
    left: -90px;
  }

  .sign-img-2 {
    top: 0;
    left: 60px;
  }
}

.sign-example-2 {
  margin-top: 30vh;

  .emb {
    background-image: url('../img/emb_squiggles.svg');
    background-size: $emb-squiggles-size;
    background-position: 0px 50px;
    left: -150px;
  }

  .sign-img-3 {
    top: 0;
    left: -90px;
  }
}

.sign-example-3 {
  margin-top: 30vh;

  .emb {
    background-image: url('../img/emb_circle.svg');
    background-size: $emb-circle-size;
    background-position: 0px 0px;
    top: -60px;
  }

  .sign-img-4 {
    top: 0;
    left: -90px;
  }
}

.about .emb.overall {
  background-image: url('../img/emb_circle.svg'), url('../img/emb_circle.svg'), url('../img/emb_circle.svg'), url('../img/emb_squiggles.svg'), url('../img/emb_squiggles.svg'), url('../img/emb_squiggles.svg');
  background-size: $emb-circle-size, $emb-circle-size, $emb-circle-size, $emb-squiggles-size, $emb-squiggles-size, $emb-squiggles-size;
  background-position: 64.3vw 80px, 20vw 100px, bottom 40px left 30vw, 80vw 230px, -75px 580px, 59.4vw 3000px;
}

/* * * Create * * */
// .create .hero, .create-text, .create-design {
//   display: none;
// }

.create {
  background: $pink;
}

.create nav .create-btn {
  display: none;
}

.create-section {
  height: 700px;
  padding-top: 60px;
  border-bottom: 3px solid black;

  &.hero .emb.overall, &.create-details .emb.overall {
    background-image: url('../img/emb_circle.svg'), url('../img/emb_circle.svg'), url('../img/emb_circle.svg'), url('../img/emb_squiggles.svg');
    background-size: $emb-circle-size, $emb-circle-size, $emb-circle-size, $emb-squiggles-size;
    background-position: 40vw 80px, bottom 20px left 5vw, top 390px right 80px, top 110px right -50px;
  }

  &.create-text .emb.overall, &.create-design .emb.overall {
    background-image: url('../img/emb_circle.svg'), url('../img/emb_circle.svg'), url('../img/emb_circle.svg'), url('../img/emb_squiggles.svg'), url('../img/emb_squiggles_vt.svg');
    background-size: $emb-circle-size, $emb-circle-size, $emb-circle-size, $emb-squiggles-size, $emb-squiggles-vt-size;
    background-position: 40.5vw 125px, 50px 500px, top 380px right 80px, top 120px right -30px, 44vw -70px;
  }

  &.create-details .emb.overall {
    background-image: url('../img/emb_circle.svg'), url('../img/emb_circle.svg'), url('../img/emb_circle.svg'), url('../img/emb_squiggles.svg');
    background-size: $emb-circle-size, $emb-circle-size, $emb-circle-size, $emb-squiggles-size;
    background-position: 40vw 80px, bottom 20px left 5vw, top 450px right 80px, top 110px right -50px;
  }
}

.create h1:after, .create h2:after {
  color: $pink;
}

.sign-type-container {
  display: flex;
}

.sign-type {
  display: flex;
  align-items: center;
  border: 3px solid $charcoal;
  box-sizing: border-box;
  min-height: 325px;
  padding: 0 8%;
  position: relative;
  color: $charcoal;
  text-decoration: none;
  cursor: pointer;
  transition: background .4s, color .2s;

  &.text {
    background: $turquoise;

    h3 {
      max-width: 220px;
      margin: 0 auto;
    }
  }

  &.design {
    background: $orange;
    border-left: 0;
  }

  &:after {
    content: '';
    position: absolute;
    top: 2px;
    left: -3px;
    border: 3px solid $charcoal;
    border-top: 3px solid transparent;
    width: 100%;
    height: 100%;
    color: white;
    z-index: 0;
  }

  &:hover {
    background: $broo;
  }

  &:hover h3, &:hover .body-copy {
    color: white;
    transition: color .2s;
  }

  &:hover .go {
    color: white;
    background-image: url('../img/icon-right-arrow-hover.svg');
    transition: background .4s, color .2s;
  }
}

.sign-type .row {
  margin-top: -20px;
}

.sign-type h3 {
  margin-bottom: 9px;
}

.sign-type .go {
  background: url(../img/icon-right-arrow.svg) right 2px no-repeat;
  background-size: 12px;
  position: absolute;
  bottom: 50px;
  left: calc(50% - 25px);
  width: 50px;
  margin: 0 auto;
}

.sign-type .emb {
  background-image: url('../img/emb_squiggle_hug.svg');
  background-size: $emb-squiggles-size;
  background-position: 0 0;
  z-index: 1;
  width: 100%;
  height: 100px;
  left: -95px;
  top: 180px;
}

.back {
  background: url('../img/icon-left-arrow.svg') left 2px no-repeat;
  background-size: 12px;
  width: 50px;
  padding-left: 18px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background .2s, color .2s;

  &:hover {
    color: white;
    background-image: url('../img/icon-left-arrow-hover.svg');
  }
}

.instructions {
  margin-top: 22px;
}

.instructions h2 {
  margin-bottom: 30px;
}

.instructions .divider {
  margin-bottom: 40px;
}

.instructions textarea {
  display: block;
  margin-bottom: 30px;
  width: 100%;
  min-height: 135px;
  max-height: 135px;
}

.instructions li {
  height: 30px;
}

.instructions .btn {
  display: inline-block;
  transition: opacity .5s;

  &.disabled {
    opacity: .2;
    pointer-events: none;
  }
}

.create-text .sign-slogan {
  font-size: 28px;
}

.create-design .sign-slogan-container {
  background: $light-gray;
}

.create-design .sign-image-req {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
}

.create-design .sign-image-req h4 {
  margin-bottom: 2px;
}

.create-design .sign-slogan {
  margin-top: -25px;
  color: $charcoal;
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  opacity: .3;
}

.create-design .sign-slogan-rules {
  transition: opacity 400ms ease-in;

  &._hide {
    opacity: 0;
  }
}

.create-design input[type=file] {

  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.create-design .file-label {
  display: flex;
  margin-bottom: 30px;

  &:hover .btn {
    background: $broo;
    color: white;
    transition: all .3s;
  }
}

.create-design .file-name {
  height: 54px;
  width: 70%;
  border: 3px solid $charcoal;
  border-right: 0;
  padding: 12px 15px;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  color: $charcoal;
}

.create-design .file-label .btn {
  height: 54px;
  display: inline-block;
  box-sizing: border-box;
  line-height: 20px;
  text-align: center;

  &:after {
    display: none;
  }
}

.create-details .form-field {
  width: 100%;
  display: flex;
  border: 3px solid $charcoal;
  margin-top: -3px;
}

.create-details label {
  width: 118px;
  border-right: 3px solid $charcoal;
  padding: 15px 20px;
  box-sizing: border-box;
}

.create-details input {
  width: 80%;
  border: 0;
  padding: 15px 20px;
}

.create-details button {
  margin-top: 30px;
}

/* * * Thank you * * */
.thank-you {
  background: $turquoise;
}

.your-sign {
  margin: 50px 0 120px;
}

.your-sign .sign-image {
  border-width: 15px;
}

.your-sign .sign-info {
  padding-top: 10%;
}

.your-sign .sign-creds {
  height: 100px;
}

.your-sign .sign-creds .all-caps {
  display: block;
  margin-top: 5px;
  font-size: 20px;
}

.your-sign .copy-url {
  position: relative;
  top: -15px;

  &.visible {
    top: 0;
    left: 0;
  }
}

.your-sign .divider {
  margin: 25px 0 20px;
}

.your-sign .make-another {
  display: block;
}