@import "reset";

@import url('https://fonts.googleapis.com/css?family=Dosis:700,800i|Open+Sans:400i,700');

/* * * Variables * * */
$turquoise: #0af5df;
$pink: #ff7b90;
$broo: #4d43ff;

/* * * Grid * * */
@mixin breakpoint($point) {
   @if $point == sml {
     @media (min-width: 350px) { @content ; }
  }
  @else if $point == med {
     @media (min-width: 600px) { @content ; }
  }
  @else if $point == lrg {
     @media (min-width: 900px) { @content ; }
  }
  @else if $point == giant {
     @media (min-width: 1400px) { @content ; }
  }
}

.grid-container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 7%;
  box-sizing: border-box;

  @include breakpoint(med) {
    padding: 0 10%;
  }
}

.row:before,
.row:after {
  content:"";
  display: table ;
  clear:both;
}

[class*='col-'] {
  min-height: 1px;

  @include breakpoint(med) {
    padding: 0 20px;
  }
}

.col-1{width: 8.333333%;}
.col-2{width: 16.666666%;}
.col-3{width: 24.999999%;}
.col-4{width: 33.333332%;}
.col-5{width: 41.666665%;}
.col-6{width: 49.999998%;}
.col-7{width: 58.333331%;}
.col-8 {
  width: 100%;

  @include breakpoint(med) {
    width: 66.666664%;
  }
}
.col-9{width: 74.999997%;}
.col-10{width: 83.333333%;}
.col-11{width: 91.666663%;}
.col-12{width: 100%;}

/* * * Global * * */
body {
  background: $turquoise;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lrg {
  display: none;

  @include breakpoint(med) {
    display: inline-block;
  }
}

.sml {
  display: inline-block;

  @include breakpoint(med) {
    display: none;
  }
}

.hero {
  margin: 40px 0 0;
  text-align: center;

  @include breakpoint(med) {
    margin: 80px 0 0;
  }
}

.nav {
  // padding: 15px 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255,255,255,.5);

  @include breakpoint(med) {
    padding-top: 30px;
    border-bottom: 0;
  }
}

.nav .logo {
  text-align: center;
  margin-right: auto;
  width: 100%;

  img {
    width: 200px;
  }

  @include breakpoint(med) {
    width: auto;
  }
}

.nav ul {
  list-style-type: none;
  position: fixed;
  bottom: 0;
  left: 0;
  background: $pink;
  width: 100%;
  padding: 10px 0;

  @include breakpoint(med) {
    position: static;
    margin-left: auto;
    display: flex;
    align-items: center;
    background: transparent;
    width: auto;
    padding: 0;
  }
}

.nav li {
  display: inline-block;
  padding-left: 15px;
}

.nav .btn {
  display: inline-block;
  text-align: center;
  border: 0;
  border-left: 3px solid black;
  padding: 0;

  @include breakpoint(med) {
    width: auto;
    border: 3px solid black;
  }

  &:after {
    border: 0;

    @include breakpoint(med) {
      border: 3px solid black;
    }
  }
}


/* * * Typography * * */
h1, h1:after {
  position: relative;
  width: 100%;
  font-family: 'Dosis', sans-serif;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .3em;
  line-height: 1.4em;
  color: white;
  text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;

  @include breakpoint(med) {
    font-size: 75px;
    line-height: 1.3em;
    text-shadow: rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px, rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px, rgb(0, 0, 0) 0.705713px 2.91581px 0px, rgb(0, 0, 0) -0.287171px 2.98622px 0px, rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px, rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px, rgb(0, 0, 0) -2.94502px -0.571704px 0px, rgb(0, 0, 0) -2.59586px -1.50383px 0px, rgb(0, 0, 0) -1.96093px -2.27041px 0px, rgb(0, 0, 0) -1.11013px -2.78704px 0px, rgb(0, 0, 0) -0.137119px -2.99686px 0px, rgb(0, 0, 0) 0.850987px -2.87677px 0px, rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px, rgb(0, 0, 0) 2.88051px -0.838247px 0px;
  }
}

h1:after {
  content: attr(data-content);
  position: absolute;
  top: 3px;
  left: 0;
  z-index: -1;
  color: $turquoise;

  @include breakpoint(med) {
    top: 5px;
  }
}

h3, .all-caps {
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
  letter-spacing: .25em;
  line-height: 1.2em;
  color: black;
  text-decoration: none;
  font-size: 12px;
  font-weight: 300;
}

h3 {
  margin: 0 0 15px;
  line-height: 2em;

  @include breakpoint(med) {
    margin: 0 0 25px;
  }
}

p {
  max-width: 650px;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 2em;
  text-align: left;
}

p a {
  color: black;
  background: url(../img/underline.svg) -20px 18px no-repeat;
  background-size: 491px;
  display: inline-block;
  text-decoration: none;
}

p a:hover {
  background-image: url(../img/underline-broo.svg);
  color: $broo;
}

/* * * Elements * * */
.btn {
  background: $pink;
  border: 3px solid black;
  padding: 15px 20px;
  position: relative;
}

.btn:after {
  content: '';
  position: absolute;
  top: 2px;
  left: -3px;
  border: 3px solid black;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.btn.mini {
  padding: 12px 15px;
}

.divider {
  width: 30px;
  margin-bottom: 15px;

  @include breakpoint(med) {
    margin-bottom: 20px;
  }
}

/* * * Homepage * * */
.hero h1 {
  margin-bottom: 25px;

  @include breakpoint(med) {
    margin-bottom: 55px;
  }
}

.intro-copy {
  text-align: center;
}

.intro-copy p {
  margin: 0 auto;
}