$turquoise: #0af5df;
$pink: #ff7b90;
$broo: #4d43ff;
$orange: #ffb72d;
$light-gray: #f0f0f0;
$charcoal: #181818;
$neon-pink: #f24561;

$emb-circle-size: 22px;
$emb-squiggles-size: 161px;
$emb-squiggles-vt-size: 64px;
$emb-signs-size: 139px;
$emb-lightning-size: 81px;
$emb-microscope-size: 71px;
$emb-plant-size: 116px;
$emb-thermometer-size: 44px;
$emb-iceburg-size: 165px;

$emb-circle-mini-size: 20px;
$emb-squiggles-mini-size: 120px;
$emb-squiggles-vt-mini-size: 45px;
$emb-signs-mini-size: 100px;
$emb-lightning-mini-size: 65px;
$emb-microscope-mini-size: 55px;
$emb-plant-mini-size: 85px;
$emb-thermometer-mini-size: 44px;
$emb-iceburg-mini-size: 165px;